@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@100;300;400;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Be Vietnam', sans-serif;
    overflow-x: hidden;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
:root{
    --bright-Red : hsl(12, 88%, 59%);
    --dark-blue: hsl(228, 39%, 23%);
    --dark-Grayish-Blue: hsl(227, 12%, 61%);
    --Very-Dark-Blue: hsl(233, 12%, 13%);
    --Very-Pale-Red: hsl(13, 100%, 96%);
    --Vary-Light-Gray: hsl(0, 0%, 98%);
}
p{
    color: var(--dark-Grayish-Blue);
    font-size: 17px;
}
/**************navbar*************/
/*********************************/
.navbar{
    padding : 1rem 0;
    text-align: center;
    z-index: 1;
}
.menu-center{
    margin: auto;
}
a.nav-link{
    color : var(--Very-Dark-Blue) !important;
    font-size: 16px;
    font-weight: 500;
}
a.nav-link:hover{
    color : var(--dark-Grayish-Blue) !important;
}
/*btn**/
.btn-nav{
    border-radius :30px;
    padding :0.3rem 1.5rem;
    background-color: var(--bright-Red);
    color : white;
    font-weight: 700;
    text-shadow: 1px ;
    box-shadow: 2px 3px 3px var(--bright-Red);
}
.btn-nav:hover{
    opacity: .9;
    color: white;
}


.hide{
    display: none;
}
.navbar-toggler:focus{
    box-shadow: 0;
    border : none;
}
.content-page{
    background: linear-gradient(to bottom, rgba(255, 255, 255,0.3),rgba(0, 0, 0,0.8));
    background-size: 100vw 100vh;
    background-repeat:no-repeat;
    
}
/*********************bg-intro******************/
.gb-intro{
    position: absolute;
    width : 500px;
    height: 500px;
    z-index: -1;
    right: 50px;
    top: -100px;
}
.gb-intro-bottom{
    position: absolute;
    width : 500px;
    height: 500px;
    z-index: -1;
    left: -23rem;
    top: -23rem;
}

/***************description********************/
.description-text h1{
    font-weight: 700;
    color: var(--Very-Dark-Blue);
    margin-bottom: .8em;
}
.description-text p{
    color: var(--dark-Grayish-Blue);
    font-size: 19px;
    margin-bottom: 1.4em;
}
.description-image {
    width: 100%;
}
.description-image img{
    width: 100%;
}
/***************different********************/
.different-content h2{
    color: var(--Very-Dark-Blue);
    font-weight: 700;
    margin-bottom: 1em;
}
.different-content p{
    color: var(--dark-Grayish-Blue);
    font-size: 17px;
}

.different-category .item div.num{
    border: 2px solid var(--bright-Red);
    background-color: var(--bright-Red);
    border-radius : 30px;
    color: white;
    font-weight : 700;  
    text-align: center;
    margin-top:10px;
}
.different-category .item h3{
    color: var(--Very-Dark-Blue);
    font-weight: 700;
    margin-bottom:.7em;
}
/*****************comment******************/
.comment  .img{
    position: relative;
    top : 50px;
    text-align: center;
    margin: auto;
    width: 100px;
}
.comment .name{
    color: var(--Very-Dark-Blue);
    font-weight: 700;
    padding-bottom: 10px;
}
.person{
    background-color:var(--Vary-Light-Gray);
}
.owl-nav{
    display: none;
}
.comment .title{
    text-align: center;
    font-weight: 700;
    color : var(--dark-blue);
}

/****************simplify**********************/
.simplify{
    background :url("../images/bg-simplify-section-desktop.svg") hsl(12, 88%, 59%);
    height: auto;
    background-position-x: 200px;
    background-position-y: -100px;
    /* overflow: hidden; */
    z-index: -1;
}

.simplify .position{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.simplify span{
    color: white;
    font-size:2.2em;
    font-weight: 700;
    
}
.simplify button.btn-nav{
    background-color:white ;
    color: var(--bright-Red);
    float: right; 
    margin-top: 2em;
    
}

/**************foooter***************/
footer{
    background-color:var(--Very-Dark-Blue);
}
.icon a{
    color: white;
}
footer ul li a{
    color: var(--Very-Pale-Red);
    
}
footer input{
    border: none ;
    border-radius: 30px;
    padding:7px 15px;
}
.btn-footer{
    padding: 7px 20px;
    border: none;
    font-weight: 700;
    border-radius: 30px;
    color: var(--Very-Pale-Red);
    background-color: var(--bright-Red);
}


/********LARGE SCREEN************/

@media (min-width: 1200px) {
    
}


/********** Medium devices only ****/

@media (min-width: 992px) and (max-width: 1199px) {
    /****************nav****************/
    /* .menu-nav {
        background-color: white;
        margin: 12px 20px;
        padding: 1rem;
    } */
}


/******Small divices only ******/

@media (min-width: 768px) and (max-width: 991px) {
    /****************nav****************/
    .menu-nav {
        background-color: white;
        margin: 12px 20px;
        padding: 1rem;
    }
    /**simplify*******/
    .simplify .position{
    display: flex;
    flex-direction: column;
    text-align: center
    }
    .btn-margin{
        margin: auto;
    }  
}


/****** Extra small devices only *****/

@media (max-width: 767px) {
    /****************nav****************/
    .menu-nav {
        background-color: white;
        margin: 12px 20px;
        padding: 1rem;
    }
    /**simplify*******/
    .simplify .position{
        display: flex;
        flex-direction: column;
        text-align: center
    }
    .btn-margin{
        margin: auto;
    }
    /********list differences****************/
    .different-category .item div.num{
        margin: auto 0;
        margin-right: 1em;
        width: 60px;
        height: auto;
    }
    .different-category .item .list-category{
        background-color:var(--Very-Pale-Red);
        padding : 5px 3px !important;
    }
    /*********************bg-intro******************/
    .gb-intro{
        position: absolute;
        width : 200px;
        z-index: -1;
        right: 385px;
        top: -300px;
    }
    .gb-intro-bottom{
        display : none;
    }
    .gb-intro-sm img{
        position: absolute;
        width: 450px;
        right: -14rem;
        z-index: -1;
        bottom: -215px;
     
    }
}